
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8" />
    <title>لندریک  - قالب چندمنظوره ای مدرن html</title>
    <partial name="_HeaderReferences" />
</head>

<body>
    <partial name="_Header" />
    @RenderBody()
    <partial name="_Footer" />
    <a href="#" onclick="topFunction()" id="back-to-top" class="btn btn-icon btn-primary back-to-top"><i data-feather="arrow-up" class="icons"></i></a>
    <partial name="_FooterReferences" />
</body>

</html>